@model WardrobeMVC.ViewModels.OutfitViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Outfit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Outfit.BottomID, "Bottom", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Outfit.BottomID, (SelectList)ViewBag.BottomId, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Outfit.BottomID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Outfit.ShoeID, "Shoe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Outfit.ShoeID, (SelectList)ViewBag.ShoeId, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Outfit.ShoeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Outfit.TopID, "Top", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Outfit.TopID, (SelectList)ViewBag.TopId, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Outfit.TopID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SelectedAccessories, "Accessories", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.ListBoxFor(model => model.SelectedAccessories, new SelectList(Model.AllAccessories, "AccessoryID", "AccessoryName"));*@
                @Html.ListBoxFor(model => model.SelectedAccessories, Model.AllAccessories)
                <div>Hold down the ctrl key to select more than one accessory</div>

            </div>


        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
