@model IEnumerable<WardrobeMVC.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bottom.BottomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shoe.ShoeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Top.TopName)
        </th>
        <th>
            Accessories
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bottom.BottomName)
                <img src="@Url.Content(item.Bottom.BottomPhoto)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shoe.ShoeName)
                <img src="@Url.Content(item.Shoe.ShoePhoto)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Top.TopName)
                <img src="@Url.Content(item.Top.TopPhoto)" />
            </td>
            <td>
                @foreach (var accessory in item.Accessories)
                {
                   <div> @Html.DisplayFor(modelItem => accessory.AccessoryName) </div>
                <img src="@Url.Content(accessory.AccessoryPhoto)" />
                }

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OutfitId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OutfitId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OutfitId })
            </td>
        </tr>
    }

</table>
