@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" @*style="background-image:  url('images/closet.jpg')"*@>
   <div class="bg"></div>
     <h1 id="header">Your Online Personal Closet!</h1>
    @*<img src="~/Content/Images/Closet.jpg" style="opacity: .5"/>*@
    @Html.ActionLink("Create Your Outfit", "Create", "Outfits", new { area = "" }, new { @class = "btn btn-primary btn-lg" }) @Html.ActionLink("View Your Closet", "Index", "Outfits", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Add a Top</h2>
        <img src="~/Content/Images/Generic Top.jpg" />
        @Html.ActionLink("Add", "Create", "Tops", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
       
    </div>
    <div class="col-md-3">
        <h2>Add a Bottom</h2>
        <img src="~/Content/Images/Generic Bottom.jpg" />
        @Html.ActionLink("Add", "Create", "Bottoms", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </div>
    <div class="col-md-3">
        <h2>Add Shoes</h2>
        <img src="~/Content/Images/Generic Shoes.jpg" />
        @Html.ActionLink("Add", "Create", "Shoes", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </div>
    <div class="col-md-3">
        <h2>Add Accessories</h2>
        <img src="~/Content/Images/Bracelet.jpg" />
        @Html.ActionLink("Add", "Create", "Accessories", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>