@model WardrobeMVC.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accessory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion.OccasionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.OccasionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessoryPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryPhoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
