@model IEnumerable<WardrobeMVC.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Color.ColorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion.OccasionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoryPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Color.ColorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion.OccasionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.SeasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoryName)
        </td>
        <td>
            <img src="@Url.Content(item.AccessoryPhoto)" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccessoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccessoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccessoryID })
        </td>
    </tr>
}

</table>
